
* {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

/*Header*/

header {
    height: 150px;
    background-color: darkgrey;
    margin-bottom: 0;
}

header>div:first-of-type {
    height: 50px;
    display: flex;
    justify-content: flex-end;
}

header img {
    max-width: 100px;
    position: absolute;
    top: 10px;
    left: 10px;
}

nav {
    background-color: black;
    width: 15px;
    height: 15px;
    margin: 3px;
    padding: 10px;
    color: white;
    border-radius: 5px;
}

input {
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    width: 37px;
    height: 37px;
    margin: 0;
}

nav i {
    text-align:center;
    width: 100%;
}

#pilote {
    background-image: url("../img/pilote_noir_blanc.JPG");
    background-repeat: no-repeat;
    background-size: cover;
    height: 66%;
}

#liens a {
    display: block;
    text-decoration: none;
    color: white;
}

#liens {
    max-height: 0; /*Pour le cacher au repos*/
	overflow: hidden; /*Le contenu qui dépasse de 0 est caché*/
    transition: all 3s ease;
    color: white;
}

input:checked~#liens {
    max-height: 100px;
    background-color: black;
}

input:checked~div>nav {
    background-color: orangered;
}

/*Main*/

#information button {
    background-color: orangered;
}

.dark {
    background-color: #333;
}

.light {
    background-color: #555;
}

section {
    color: white;
    text-align: center;
}

ul {
    margin-left: 1rem;
}
